/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2b74d4;
  --ifm-color-primary-dark: #2768bf;
  --ifm-color-primary-darker: #2563b4;
  --ifm-color-primary-darkest: #1e5194;
  --ifm-color-primary-light: #4082d8;
  --ifm-color-primary-lighter: #4b89da;
  --ifm-color-primary-lightest: #6b9ee1;
  --ifm-color-primary-grad1: #29bedc;
  --ifm-color-primary-grad2: #517aed;
  --ifm-color-primary-neutral: #4a7ec2c6;
  --ifm-code-font-size: 95%;
  --ifm-color-violet: #5c21dd;
  --ifm-link-hover-decoration: none;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

a {
  text-decoration: none;
}

.bgs {
  background-size: cover;
  background-position: center center;
}

.header {
  background: linear-gradient(
    45deg,
    var(--ifm-color-primary-grad1),
    var(--ifm-color-primary-grad2)
  );
  padding: 80px 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media(max-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
  }
}

.header__welcome {
  margin-right: 100px;

  @media(max-width: 768px) {
    order: 2;   
    margin-right: 0;
    text-align: center;
  }
}

.header__welcome__text {
  font-size: 40px;
  font-weight: 700;
  color: white;
  display: block;
  line-height: 66px;  

  @media(max-width: 768px) {
    font-size: 33px;
  }  
}

.header__brain {
  width: 650px;
  @media(max-width: 768px) {
    order: 1;   
    width: 83%;
  }  
}

.header__welcome__button {
  border-radius: 4px;
  color: white;
  background-color: #2b74d4;
  width: 300px;
  height: 50px;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(11, 22, 82, 0.15);
  transition: 0.2s background-color;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &:hover {
      background-color: #2768bf;
      color: white;
  }

  @media(max-width: 768px) {
    margin: 0 auto;
  }
}

.brain {
  path {
      fill: transparent;
  }
  .brainPath {
      stroke: white;
      stroke-width: 1;
      animation: goPath 3000ms alternate infinite;
  }
  .brainCircle {
      stroke: #ffffff;
      fill: #ffffff;
      animation: goCircle 3000ms alternate infinite;
  }

  .brainRect {
      stroke: white;
      fill: white;
      animation: goRect 3000ms alternate infinite;
  }
  .brainEllipse {
      stroke: #ffffff;
      fill: #ffffff;
      animation: goCircle 3000ms alternate infinite;
  }
}

@keyframes goPath {
  to {
    stroke-dashoffset: 0;
  } 
}

@keyframes goRect {
  to {
    opacity:0;
  }
}

@keyframes goCircle {
  0% {
    opacity:0;
  }
  50% {
      opacity:1;
  }
  100% {
      opacity:0;
  }
}

